# .gitignore

# CONCOURSE SECRETS
.concourse-secrets.yml

# SSH KEYS
id_rsa*

# PGP KEYS
*.pgp

# SFTP EXTENSION
.vscode/
sftp.json

# macOS
.DS_Store

# WINDOWS
*:Zone.Identifier

# TAR FILES
*.tar.gz
*.tar.gz.gpg

# repo-my-packer-image-builds.gitignore SPECIFIC BELOW ---------------------------------------------

# PACKER
**/packer_cache
**/*.box
**/*.iso
**/*.iso.lock
