[Unit]
Description=Jeffs Playground
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/usr/bin
ExecStart=/usr/bin/hello-go
Restart=always
User=root
StandardOutput=syslog
StandardError=syslog
LimitNOFILE=49152

[Install]
WantedBy=multi-user.target